<section id="about-me" class="section-container">
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">About Me</h2>
  <p class="text-slate max-w-xl text-lg mb-4" data-aos="fade-up" data-aos-delay="200">
    Hi there! I'm Mohammed Lokhandwala — a full-stack developer and AI enthusiast with a strong foundation in both web development and machine learning. I specialize in building modern, responsive applications using technologies like React, Node.js, and MongoDB. Alongside I specialize in applying AI to solve real-world problems — from computer vision and image enhancement to model tracking and automation.
     I'm always eager to learn, grow, and take on new challenges in tech.
  </p>
  <p class="text-slate max-w-xl text-lg" data-aos="fade-up" data-aos-delay="200">
    Looking forward to sharpening my skills in a challenging environment. I guarantee enthusiasm in work and fulfilling
    my projects with inexpressible effort.
  </p>
</section>