<section id="experience" class="section-container">
  <h2 class="section-title" data-aos="fade-up">Experience</h2>

  <div class="grid md:grid-cols-2 gap-8">
    <div data-aos="fade-up" data-aos-duration="800">

      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">AI/ML Intern</h4>
        <p class="text-slate"><a href="https://www.seepossible.com/">SeePossible Innovative Solutions LLP</a> • June 2024 -
          June 2024
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li><b>Built and deployed</b> an image upscaling API that lets users submit images with custom parameters (model type,
              resolution, size), secured with authentication —processed <b>5,000+ images</b>
              with <b>99.9% uptime</b></li>
          <li><b>Fine-tuned a deep learning super-resolution model</b> specifically for jewelry imagery, achieving a <b>28% increase in
              </b> image quality (measured via LPIPS and PSNR) improving clarity and sharpness while preserving details.</li>
          <li>
            <b>Used Weights & Biases for experiment tracking, model versioning, and performance visualization</b>, enabling
            reproducible training workflows for both upscaling and interpolation pipelines.
          </li>
          <li>
            <b>Implemented a real-time quota and user usage tracking system using supabase</b>, that supported <b>100+ concurrent users</b> without
            latency spikes.
          </li>
          <li>
            <b>Developed a CLI based frame interpolation system</b> to generate intermediate video frames from existing renders,
            eliminating the need for costly re-rendering—reducing post-production time and computational cost by nearly <b>50%</b>.
          </li>
          <li>
            <b>Enhanced the interpolation model</b> through architectural tweaks, hyperparameter tuning, and post-processing strategies
            and boosting frame coherence by <b>32%</b> (based on temporal SSIM metrics).
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>